
@mixin elo {
  content: "";
  display: block;
  position: absolute;
  background-color: #EDF5EC;
  width: 4px;
  height: 32px;
  top: -1px;
}

.datepicker {
  background-color: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 300px;
  padding: 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D8D8D8;
    border-radius: 48px;
    padding: 8px 10px;
    margin-bottom: 10px;
  }

  &__change-month {
    background-color: transparent;
    border: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__current-date {
    font-size: 14px;
    font-weight: 700;
  }

  &__calendar {
    display: flex;
    flex-wrap: wrap;
    width: 252px;
    grid-gap: 4px;
    justify-content: space-between;
    text-align: center;
  }

  &__day {
    position: relative;

    &, &-symbol {
      width: 32px;
      height: 32px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 50%;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--weekday {
      color: #999999;
    }

    &--inactive, &--disabled {
      color: #D8D8D8;
    }

    &--disabled {
      cursor: not-allowed;
    }

    &--today {
      color: #4E9845;
      border-color: #4E9845;
    }

    &:not(#{&}--weekday):not(#{&}--disabled):hover, &--in-range,
    &--start-range#{&}--connected, &--end-range#{&}--connected {
      background-color: #EDF5EC;
      color: #4E9845;
    }

    &:not(#{&}--weekday):not(#{&}--disabled):hover {
      cursor: pointer;
    }

    &--start-range:not(#{&}--connected), &--end-range:not(#{&}--connected),
    &--start-range &-symbol, &--end-range &-symbol {
      background-color: #4E9845;
      color: #fff;
    }

    &--start-range &-symbol,
    &--end-range &-symbol{
      position: absolute;
      left: -1px;
      top: -1px;
    }

    &--start-range#{&}--connected {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &--end-range#{&}--connected {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &--start-range#{&}--connected {
      &::after {
        @include elo();
        left: calc(100% + 1px);
      }
    }
    &--end-range#{&}--connected {
      &::before {
        @include elo();
        right: calc(100% + 1px);
      }
    }

    &--in-range {
      border-radius: 0;

      &:not(:nth-child(7n+1))::before, &:not(:nth-child(7n))::after {
        @include elo();
      }
      &::before {
        right: 100%;
      }
      &::after {
        left: 100%;
      }
    }
  }
}
